@model WeddingPlanning.Models.Guests
<div>
    @if (Model.AllGuests.Count() > 0) {
        <h3>Guests that you've already added</h3>
    <table class="table table-hover table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Allergies</th>
                <th>Under 12</th>
                <th>Under 5</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var guest in Model.Adults)
        {
            <tr>
                <td scope="row">
                    @guest.FirstName
                </td>
                <td>
                    @guest.Surname
                </td>
                <td>
                    @guest.Allergies
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    @if (Model.Children.Count() == 0 || Model.Adults.Count() > 1) {
                        <a href="/RSVP/RemoveGuest?GuestId=@guest.Id" class="btn btn-danger"><span class="fa fa-trash">Remove</span></a>
                    }
                </td>
            </tr>
        }
            @foreach (var child in Model.Children)
            {
                <tr>
                    <td scope="row">
                        @child.FirstName
                    </td>
                    <td>
                        @child.Surname
                    </td>
                    <td>
                        @child.Allergies
                    </td>
                    <td>
                        @if (!(child as WeddingPlanning.GuestStore.IChild).IsBaby)
                        {
                            <span>1</span>
                        }
                    </td>
                    <td>
                        @if ((child as WeddingPlanning.GuestStore.IChild).IsBaby)
                        {
                            <span>1</span>
                        }</td>
                    <td>
                        <a href="/RSVP/RemoveChild?id=@child.Id" class="btn btn-danger">Remove</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    }
</div>