@model WeddingPlanning.Models.GuestViewModel

<h4>A title</h4>
    @{ using (Html.BeginForm("AddGuest", "Rsvp", new { ReturnUrl = "Rsvp/Rsvp" }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group hidden">
                @Html.HiddenFor(m => m.AddedBy, new { @class = "form-control" });
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name..."})
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @placeholder = "Surname..." })
                    @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Allergies, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Allergies, new { @class = "form-control" ,@placeholder = "List any dietary requirements..."})
                    @Html.ValidationMessageFor(m => m.Allergies, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IsChild, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(m => m.IsChild, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IsChild, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IsBaby, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(m => m.IsBaby, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IsBaby, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save Guest" class="btn btn-default" />
                </div>
            </div>
        }
    }

